/* HTML Styles */
html {
    width: 100%;
    background: linear-gradient(135deg, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Body Style */
body {
    position: relative;
    min-width: 900px;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 10px 0px 30px,
                -10px 0px 30px;
    background: radial-gradient(ellipse at center,
                rgba(30,87,153,1) 0%,
                rgba(32,124,202,1) 36%,
                rgba(41,137,216,1) 43%,
                rgba(32,124,202,1) 59%,
                rgba(125,185,232,1) 91%,
                rgba(125,185,232,1) 91%);
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-areas:
        "header     header"
        "nav           nav"
        "section     aside"
        "article     aside"
        "footer     footer";
}

/* Grid Identities */
header {
    grid-area: header;
}

nav#Assignments {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}
/* Header Styles */
header {
    padding: 5px 0px;
}
header h1 {
    font-size: 3em;
    text-align: center;
}

/* Navigation List for Assignment Links */
nav#Assignments {
    width: 100%;
}

nav#Assignments li {
    text-align: center;
    display: block;
    float: left;
    border: 1px black solid;
    height: 40px;
    width: 12.5%;
    background-color: rgb(56, 56, 181);
}

nav#Assignments li:hover{
    background-color: rgb(33, 165, 247);
    font-weight: bold;
}

nav#Assignments a {
    color: black;
    text-decoration: none;
}

/* FAQs Styles */
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section h2 {
    grid-area: 1/2/2/4;
    display: block;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}

div#FAQs1 {
    grid-area: 2/1/3/4;
}

div#FAQs2 {
    grid-area: 3/2/4/5;
}

div#FAQs3 {
    grid-area: 4/1/5/4;
}

div.FAQs h3 {
    display: block;
    font-size: 1.25em;
}

section > div {
    display: block;
    background-color: rgb(56, 56, 181);
    margin: 10px;
    padding: 10px;
}

section > div:nth-of-type(odd) {
    border-radius: 0px 10px;
    box-shadow: -5px -5px 5px;
}

section > div:nth-of-type(even) {
    border-radius: 10px 0px;
    box-shadow: 5px -5px 5px;
}

div#FAQs2 > ul {
    padding-left: 30px;
}

/* Article Styles */
article {
    background-color: rgb(56, 56, 181);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 0px 5px,
                -5px 0px 5px;
}
/* Aside Styles */
aside {
    background-color: rgb(56, 56, 181);
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 5px 0px 5px,
                -5px 0px 5px;
}

aside h2 {
    text-align: center;
    font-size: 2em;
}
aside h3 {
    text-align: center;
    font-size: 1.25em;

}
aside img {
    position: relative;
    left: 3.95%;
    border-radius: 10px;
    padding: 5px;
}

/* Footer Styles */

footer {
    text-align: center;
    padding: 10px;
}
footer h3 {
    font-size: 1.25em;
}

/* Pac-Man Style */
img.PacMan {
    width: 50px;
}

img.PacMan#left{
    position: absolute;
    top: 0px;
    left: 10px;
}

img.PacMan#right{
    position: absolute;
    top: 0px;
    right: 10px;
    transform: scaleX(-1);
}