/* HTML Styles */
html {
    width: 100%;
    background-color: rgb(56, 56, 181);
}

/* Body Style */
body {
    width: 1200px;
    border: 3px black solid;
    background-color: rgb(136, 136, 200);
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-areas:
        "header     header"
        "nav           nav"
        "section     aside"
        "article     aside";
}

/* Grid Identities */
header {
    grid-area: header;
}

nav#Assignments {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

article {
    grid-area: article;
}

/* Header Styles */
header h1 {
    font-size: 3em;
    text-align: center;
}

/* Navigation List for Assignment Links */
nav#Assignments {
    width: 100%;
}

nav#Assignments li {
    text-align: center;
    display: block;
    float: left;
    border: 1px black solid;
    height: 40px;
    width: 12.5%;
    background-color: rgb(56, 56, 181);
}

nav#Assignments a {
    color: black;
    text-decoration: none;
}

/* FAQs Styles */
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section h2 {
    grid-area: 1/2/2/4;
    display: block;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}

div#FAQs1 {
    grid-area: 2/1/3/4;
}

div#FAQs2 {
    grid-area: 3/2/4/5;
}

div#FAQs3 {
    grid-area: 4/1/5/4;
}

div.FAQs h3 {
    display: block;
    font-size: 1.25em;
}

section > div {
    display: block;
    background-color: rgb(56, 56, 181);
    margin: 10px;
    padding: 10px;
}

div#FAQs2 > ul {
    padding-left: 30px;
}

/* Article Styles */