@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 2
   
   Save your Fork Graphic Design Styles
    Author: William Gonzalez
    Date:    11/21/2025

   Filename: sf_effects.css

*/

/* Body Header Styles */
body {
    box-shadow: rgb(51,51,51) 10px 10px 50px,
                rgb(51,51,51) -10px 10px 50px;
}


/* Navigation Tabs List Styles */
body > header nav.tabs {
    background: url(sf_back1.png) center / 100% no-repeat;
}

body > header nav.tabs li {
    transform: perspective(50px) rotatex(20deg);
}

body > header nav.tabs li:hover {
    background-color: rgb(231,231,231);
}
/* Left Section Styles */
section#left nav.vertical {
    border: 1px solid rgb(20, 167, 170);
    border-radius: 25px;
}

section#left nav.vertical h1 {
    border-radius: 25px 25px 0 0;
}


/* Center Article Styles */
section#center article {
    background: radial-gradient(at center, white 30%, rgb(151,151,151));
    border: 1px solid rgb(151,151,151);
    border-radius: 50px;
    box-shadow: rgb(51, 51, 51) 10px 10px 20px;
}



/* Blockquote Styles */


