@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: William Gonzalez
   Date:   11/15/2025
   
   Filename: ss_layout.css

*/


/* Article Styles */
article {
   float: left;
   width: 384px;
}




/* First Line and Drop Cap Styles */



 

/* Aside Styles */




/* Map Styles */




/* Interactive Map Styles */




/* Map Information Styles */



