@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: William Gonzalez
   Date:   11/10/2025
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
    height: 100%;
}

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

img {
    display: block;
}

/*Grid Styles*/
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* Row Styles */
section > ul > li > img {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

section p {
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}


/* Page Header Styles */
header {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header > img#logo {
    grid-column: span 3;
    width: 100%;
}


/* Aside Styles*/
aside {
    grid-column: 2/span 2;
}
/* Horizontal Navigation List Styles */
nav.horizontal {
    grid-column: span 4;
}

nav.horizontal > ul > li {
    display: block;
    width: 12.5%;
    float: left;
}


/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */
aside {
    width: 75%;
    padding-bottom: 30px;
}


/* Footer Styles */
 footer {
    grid-column: span 4;
 }

