@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: William Gonzalez
   Date:   11/10/2025
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
    height: 100%;
}

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

img {
    display: block;
}

/*Grid Styles*/
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* Row Styles */





/* Page Header Styles */






/* Horizontal Navigation List Styles */




/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


