@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
          Author: William Gonzalez
          Date:   12/2/2025
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/



/* Hidden Objects */
nav, footer, article {
   display: none;
}

section#sheet {
   width: 6in;
   margin: 0in auto;
}

img.size1 {
   width: 5in;
}

img.size {
   width: 3in;
}

img.size {
   width: 2in;
}

img.size {
   width: 1.5in;
}






/* Comic Book Sheet Styles */












