@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: William Gonzalez
   Date:   11/6/2025
   
   Filename: pc_grids.css

*/

/* Grid Styles for Page Body*/

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

/* Grid Styles for Nested Grid*/

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
body > * {
    outline: 2px dashed red;
}
section > * {
    outline: 2px dashed blue;
}
/* Grid Rows Styles */




/* Grid Columns Styles */




/* Grid Outline Styles */

