@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: William Gonzalez
   Date:   11/5/2025
   
   Filename: pc_home.css

*/

/* Body Styles */
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}
body > header> img {
    display: block;
    width: 100%;
}



/* Body Header Styles */
body > header > nav.horizontalNavigation li {
    width: 20%;
}
nav.horizontalNavigation li {
    display: block;
    float: left;
}



/* Horizontal Navigation Styles */
nav.horizontalNavigation a {
    display: block;
    text-align: center;
}


/* Left Column Styles */
section#leftColumn {
    clear: left;
    float: left;
    padding: 1.5em;
    width: 33%;
}



/* Right Column Styles */
section#rightColumn {
    float: left;
    width: 67%;
}
section#rightColumn img {
    display: block;
    width: 100%;
}
section#rightColumn > nav.horizontalNavigation li {
    width: 25%;
}





/* Footer Styles */

