    /* Final Exam Project Page
    Author: William Gonzalez
    Date: 12/11/2025
    Filename: finalExam.CSS */

    /* Page Base Styles */
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-size: 16pt;
        width: 85%;
        margin: auto;
        background-color: rgb(32, 32, 128);
    }

    .header h1 {
        font-size: 36pt;
        margin: 35px 0px 0px;
        padding: 15px 0px 0px 15px;
        background-color: azure;
    }

    .header h3 {
        font-size: 24pt;
        margin: 0px;
        padding: 0px 0px 15px 15px;
        background-color: azure;
    }

    h1 {
        font-family: arial;
        font-size: 22pt;
        text-align: left;
        letter-spacing: 2px;
        margin: 0px;
        padding: 15px 0px 0px 15px;
        background-color: rgb(77, 77, 220);
    }

    h3 {
        font-family: arial;
        font-size: 16;
        text-align: left;
        background-color: beige;
    }
    
    p {
        margin: 15px;
        padding: 15px;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: green;
    }

    table {
        border-style: none;
        width: 90%;
        margin-left: 30px;
    }
    td {
        padding: 2px 5px;
    }